/*
    CSS file for header of react website
    Author: Rodrigo Miguel Rojas (s3784466)
 */
.header {
    display: block;
    position: relative;
    width: 100%;
    color: white;
    background: black;
    height: 90px;
    opacity: 80%;
    border-bottom: 1px solid black;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.navbar {
    position: absolute;
    top: 40%;
    @include translateY(-40%);
}

.list {
    list-style-type: none;

}

.mainNav {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
    line-height: normal;
}

.loginNav {
    display: inline-flex;
    margin: auto;
    left: 15px;
    line-height: normal;
    padding-left: 750px;
}

.registerNav {
    display: inline-flex;
    margin: auto;
    line-height: normal;
    padding-left: 25px;
}

a {

    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: lightblue;
}




